body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  font-family: Roboto, sans-serif;
}

/* Header Components */

.container-uno {
  background-color: #1f2937;
  color: #f9faf8;
}

/* Top section */
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px; /* This SIDE margin for all the inside content */
}

.top-header > .logo {
  font-size: 24px;
}

ul {
  display: flex;
  list-style: none;
  gap: 16px;
  margin: 0px;
  padding: 0px;
}

li > a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

li > a:hover {
  color: rgb(92, 92, 191);
  text-decoration: underline;
}

/* Inside Header section  */

.lower-header {
  display: flex;
  margin: 100px 100px; /* This (ONLY SIDE)  margin for all the inside content */
}

.left,
.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 1;
}

.left {
  margin-right: 50px;
}
.left > .header-text {
  font-size: 48px;
  font-weight: 900;
}

.left > .secondary-header-text {
  font-size: 18px;
  color: #e5e7eb;
}

.left > button {
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  padding: 10px 50px;
  border-radius: 12px;
}

.right {
  background-color: gray;
  justify-content: center;
  align-items: center;
}

/* Random info section  */

.container-dos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-dos h1 {
  margin-left: 100px;
  margin-right: 100px;
}

.container-dos > .img-row {
  display: flex;
  margin: 0 100px;
}

.box-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

.box {
  outline: solid 4px #3882f6;
  border-radius: 20px;
}
